<%- include("styling/horizontal-styling.ejs") %> 

<main id="horizontal" class="horizontal">
    <%- include("partials/about-me/about-me.ejs") %>
    <%- include("partials/about-me-part2/about-me-part2.ejs") %>
    <%- include("partials/my-work/my-work.ejs") %> 
    <%- include("partials/contacts/contacts.ejs") %>  
</main>

<%- include("scripts/horizontal-script.ejs") %> 