<%- include("partials/header/head.ejs") %>
<%- include("styling/general-styling.ejs") %> 

<html>
<body>
    <%- include("partials/navigation/nav.ejs") %> 
    <%- include("home.ejs") %>
    <%- include("horizontal.ejs") %>   
</body>
</html>
    