<%- include("partials/header/head.ejs") %>
<%- include("styling/general-styling.ejs") %> 

<html>
<body id="body">

    <%- include("partials/navigation/nav.ejs") %> 
    <%- include("home.ejs") %>
    <%- include("horizontal.ejs") %>   

    <%- include("scripts/main-script.ejs") %> 
</body>
</html>
    